body{
	background-color: #222;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
	font-weight: 300;
	font-size: 20px;
}
html:after{
	content: ".eg"
}
h1{
	border-bottom: 0.5px solid white
}
pre{
	font-family: "Roboto Mono", menlo, monospace;
	background-color: #333;
	padding: 3px;
	border-radius: 5px;
}